.App {
  text-align: center;
  margin: 10px;
}

.has-bg-img {
  background: url('./img/nyc-background.jpg') center center;
  background-size: cover;
}

.category-button {
  margin: 5px
}

.city-name {
  size: 150px;
}

.citypage {
  padding-top: 50px;

}

.poi {
  border: 1px black solid;
  margin-top: 5px;
}

.posts {
  border: 1px black solid;
  margin-top: 5px;
  font-size: 20px;
}

.forminput {
  width: 375px;
  height: 25px;
}

.header-space {
  margin-bottom: 20px;
}

.homepage-view {
  margin: 50px;
}

.header:hover {
  cursor: pointer;
  color: #ffdd57;
}

.navstyle {
  display: inline;
}